.logo{
    width: 20%;
}
.container{
    margin-bottom: 10%;
}
.img{
    width: 100%;
}

.span{
    color:orange;
}
.span-2{
    color: rgb(233, 71, 71);
}
.back-ground{
    background-color:rgb(170, 235, 170);
}
.pad{
    padding-top: 50px;
}
.pad2{
    padding: 20px;
}
.background{
    background-color: black;
    color: white;
    padding: 20px;
}
.bg{
    background-color:rgb(222, 227, 233);
    
}
.img5{
    width: 10%;
}
